<!DOCTYPE html>
<html>
<head>
	<title>Cuturally Awkward Cards</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<%= favicon_link_tag 'favicon.ico' %>
</head>

<body>


	<!DOCTYPE html>
	<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Scrolling Nav - Start Bootstrap Template</title>

		<!-- Bootstrap core CSS -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="css/scrolling-nav.css" rel="stylesheet">
		<!-- social media icons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>

	<%= yield %>

	<body id="page-top">

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<div class="container">
				<img src="assets/logo-and-tagline.png" class="img-responsive" alt="">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#section1">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#section2">Our Mission</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="https://cardsfortheculture.co/">Cards for the Culture</a>
							
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<span class="anchor" id="section1"></span>
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto">
						<h2>What is Culturally Awkward Cards? </h2>
						<p class="lead">Culturally Awkward Cards is an unfiltered card game for the culture. Unlike all these "other" card games for the "culture", Culturally Awkward Cards is rude, offensive, and shady just like you and your shady ass friends.</p>
						<p class="lead"> This game is so easy Ice JJ Fish can do it. Each round , one player, known as the 'Card Cracker' asks a question from one of the colored cards, and everybody answers with their best black card. The 'Card Cracker' picks the card he/she dislikes the most and slaps the person who chose it with a Culturally Awkward Card. </p>
					</div>
					<div class="col-lg-5">
						<img src="assets/card-design.png" class="img-panel" alt="">
					</div>
				</div>
			</div>
		</section>

		<span class="anchor" id="section2"></span>
		<section id="services" class="bg-light">
			<div class="container">
				<div class="mid-section">
					<h2>Want to help us preserve the culture?</h2>
					<p class="lead">Our goal with Culturally Awkward Cards is to become more culturally responsible and give back to the culture.</p>
					<p> Here's how:</p>
					<ol>
						<li>We are opening up a business account with a black owned bank and will deposit $2500 to start.</li>
						<li>We will take 10% of our monthly sales and deposit it into said account. This means a percentage of your order will go to helping the culture</li>
						<li>Each month, we will hightlight 2-3 small black owned businesses, fund them with a micro investement of $300 - $500, and resources we have accumulated.</li>
					</ol>
				</div>
			</div>
		</section>

		<span class="anchor" id="section3"></span>
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto">
						<h3 class="lead">Don't be an idiot and send us an email asking the following questions</h3>
						<h3 class="lead">How can I order?</h3>
						<h3 class="lead">Are you the same people that made the Marin Trivia Game/Cards For The Culture</h3>
						<h3 class="lead">Can I get a discount?</h3>
						<h3 class="lead">Are y'all black owned?</h3>
						<h3 class="lead">What's the difference between y'all and Cards Against Humanity?</h3>
						<h3 class="lead">Does this game have offensive language?</h3>
						<h3 class="lead">Y'all n-words hiring?</h3>
						<h3 class="lead">Can white people play?</h3>
						<h3 class="lead">Is y'all racist?</h3>
					</div>
					<div class="col-lg-5">
						<h3 class="lead"> Submit a black-owned business you want us to help fund.
							<!-- Begin MailChimp Signup Form -->
							<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
							<style type="text/css">
							#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
		<form action="https://culturallyawkwardcards.us17.list-manage.com/subscribe/post?u=e70a0d0e8ce586e49e63298db&amp;id=bf18375efb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">

				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Submit your favorite black owned business. Tell us their business name and give us their social media, you filthy animal... Help us make the Culture great again" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e70a0d0e8ce586e49e63298db_bf18375efb" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
		</form>
	</div>
	<div class="social-media" id="social-media-icons">
					<ul class="navbar-nav ml-auto">
						<li class="na-item">
							<a href="#" class="fa fa-facebook"></a>
						</li>
						<li class="na-item">
							<a href="#" class="fa fa-twitter"></a>
						</li>
						<li class="na-item">
							<a href="#" class="fa fa-instagram"></a>							
						</li>
					</ul>
				</div>
	<!--End mc_embed_signup-->
</div>
</div>
</div>
</section>


<!-- Footer -->
<div id= "footer">
	<img class="display" src="assets/footer-image.png">
</div>
<!--     <footer class="footer">
      <div class="container">
       <img src="assets/footer-image.png" class="img-footer" alt="">
      </div>
  </footer> -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"e70a0d0e8ce586e49e63298db","lid":"bf18375efb"}) })</script>

</body>

</html>


</body>
</html>
